@model IEnumerable<POS.Models.Product>
@using POS.Models;
@{
    ViewBag.Title = "AllProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllProduct</h2>

<br />
<h4 class="text-danger text-center"> Cart <sup class="badge danger"> @Cart.Products.Count </sup></h4>
<br />

<table class="table">
    <tr>
        <th>
            <label class="control-label text-uppercase text-primary" for="Email">Name</label>
        </th>
        <th>
            <label class="control-label text-uppercase text-primary" for="Price">Price</label>
        </th>
        <th>
            <label class="control-label text-uppercase text-primary" for="Stock Remaining">Availability</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_price)
            </td>

            <td class="affix">
                @if (item.stock_remaining == 0)
                {
                    <p>Out of stock</p>
                }
                else
                {
                    @Html.ActionLink("Add", "AddProductToCart", new { id = item.Id })
                }

            </td>

        </tr>
    }

</table>
@if (Cart.Products.Count != 0)
{
    <h4 class="lead" style="text-align:center;"> @Html.ActionLink("View Cart", "Cart1")</h4>


}