@model IEnumerable<POS.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_remaining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_max)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_remaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_max)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
